packages: [
  "autocomplete-paths"
  "editorconfig"
  "file-icons"
  "git-blame"
  "git-time-machine"
  "highlight-selected"
  "linter"
  "linter-pycodestyle"
  "linter-python"
  "minimap"
  "package-sync"
  "project-manager"
  "sort-lines"
]
